.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", questions_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_question_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Questions
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.question.title", :default => t("activerecord.labels.title", :default => "Title"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @questions.each do |question|
          %tr{:class => cycle("odd", "even")}
            %td
              = question.id
            %td
              = link_to question.title, question_path(question)
            %td
              = question.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", question_path(question)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_question_path(question)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", question_path(question), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
