%table{:id => "deliver_#{estimate.id}", :style=>"display:none;"}
  %tr
    %td
      %p
        %b
          = t("activerecord.attributes.estimate.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = estimate.name
      %p
        %b
          = t("activerecord.attributes.estimate.lastname", :default => t("activerecord.labels.lastname", :default => "Lastname"))
          \:
        = estimate.lastname
      %p
        %b
          = t("activerecord.attributes.estimate.address", :default => t("activerecord.labels.address", :default => "Address"))
          \:
        = estimate.address
      %p
        %b
          = t("activerecord.attributes.estimate.city_id", :default => t("activerecord.labels.city_id", :default => "City"))
          \:
        = estimate.city.name
      %p
        %b
          = t("activerecord.attributes.estimate.email", :default => t("activerecord.labels.email", :default => "Email"))
          \:
        = estimate.email  
      %p
        %b
          = t("activerecord.attributes.estimate.phone", :default => t("activerecord.labels.phone", :default => "Telefono"))
          \:
        = estimate.phone
      %p
        %b
          = t("activerecord.attributes.estimate.category_id", :default => t("activerecord.labels.category_id", :default => "Categorie"))
          \:
        - estimate.categories.each_with_index do |category, index|
          = "#{category.title}"
          = ", " if index<estimate.categories.size-1
      %p
        %b
          = t("activerecord.attributes.estimate.note", :default => t("activerecord.labels.note", :default => "Note"))
          \:
        = estimate.note