.group
  = f.label :container_id, t("activerecord.attributes.position.container_id", :default => "Container"), :class => :label
  = f.collection_select :container_id, Container.all, :id, :name
  %span.description Ex: a simple text
.group
  = f.label :place_id, t("activerecord.attributes.position.place_id", :default => "Place"), :class => :label
  = f.collection_select :place_id, Place.all, :id, :name
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), positions_path, :class => "text_button_padding link_button"
