<h2>Hai dimenticato la tua password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

<%= render :partial => "layouts/frontends/shared/form_errors", :locals => {:obj => @user} %>

	<div class="box-form">
		<div class="su-form">
	     <ol>

				<li class="nest_item">
				 	<span class="item">
						<%= f.label :email %>
						<%= f.email_field :email, :class => :text %>
					</span>
					<small>Inserisci la tua email</small>
					<div class="clearF"></div>
				</li>
			</ol>
		
			<div class="su-form-button">
				<%= f.submit "Recupera password" %>
			</div>
		</div>
	</div>

<% end %>

<%= render :partial => "devise/shared/links" %>