<h1><%= @company.name %></h1>
<div class="companies">
	<div class="company">
		<div class="address">
			<%= "#{@company.address},"  unless @company.address.blank? %>
			<%= @company.city.name %>,
			<%= @company.city.department.name %>
		</div>			
		<p><%= @company.description.html_safe %><p>
		<div class="social">
			<% unless @company.url_site.blank? %>
				<%= link_to image_tag("icon_set/24x24/site.png"), @company.url_site %>
			<% end %>
			
			<% unless @company.email_address.blank? %>
				<%= link_to image_tag("icon_set/24x24/E_Mail.png"), @company.email_address %>
			<% end %>
			
			<% unless @company.phone.blank? %>
				<%= image_tag("icon_set/24x24/Phone.png") %> <%= @company.phone %>
				
			<% end %>
			
			<% unless @company.facebook.blank? %>
				<%= link_to image_tag("icon_set/24x24/facebook.png"), @company.facebook %>
			<% end %>
			
			<% unless @company.twitter.blank? %>
				<%= link_to image_tag("icon_set/24x24/Twitter.png"), @company.twitter %>
			<% end %>
			
			<% unless @company.youtube.blank? %>
				<%= link_to image_tag("icon_set/24x24/utube.png"), @company.youtube %>
			<% end %>
		</div>
	</div>
</div>
<%= social_network.html_safe %>