.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", containers_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_container_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Containers
    .inner
      .containers!= display_containers
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
