.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", companies_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_company_path
  .content
    - if @companies.blank?
      - if current_user.role?(:company)
        %h1 E' il tuo primo accesso? Premi qui per #{link_to "inserire una nuova azienda", new_company_path}
      - else
        %p Nessuna azienda presente
    - else
      %h2.title
        Le tue aziende
      - form_for @search do |f|
        %table.table
          %tr
            %td= f.label :name_contains, "Nome"
            %td= f.text_field :name_contains
          %tr
            %td= f.label :piva_contains, "P.IVA"
            %td= f.text_field :piva_contains
          %tr
            %td= f.label :email_address_contains, "E-mail"
            %td= f.text_field :email_address_contains
          %tr
            %td= f.label :phone_contains, "Telefono"
            %td= f.text_field :phone_contains
          %tr
            %td= f.label :is_enabled_is_false, "Non ancora attivata"
            %td= f.check_box :is_enabled_is_false
          %tr
            %td= f.label :created_at_gte, "Data ricezione da"
            %td= f.text_field :created_at_gte
          %tr
            %td= f.label :created_at_lte, "Data ricezione a" 
            %td= f.text_field :created_at_lte
          %tr
            %td{:colspan=>2}= f.submit "Filtra"
      .inner
        %table.table
          %tr
            %th Nome
            %th Preventivi
            %th Abilitata
            %th= t("web-app-theme.created_at", :default => "Created at")
            %th.last &nbsp;
          - @companies.each do |company|
            %tr{:class => cycle("odd", "even")}
              %td= company.name
              %td= company.estimates.size
              %td= company.is_enabled? ? "Si" : "No"
              %td
                = f_date(company.created_at)
              %td.last{:style=>"width:260px"}
                - if current_user.role?(:company)
                  = link_to "Visualizza sito", frontend_company_company_path(company), :target => "_blank"
                  |
                  = link_to "Visualizza", company_path(company)
                - else
                  = link_to "#{t("web-app-theme.show", :default => "Show")}", company_path(company)
                |
                = link_to "#{t('web-app-theme.edit', :default => 'Edit')}", edit_company_path(company)
                |
                = link_to "#{t('web-app-theme.delete', :default => 'Delete')}", company_path(company), :method => :delete, :confirm => "#{t('web-app-theme.confirm', :default => 'Are you sure?')}"
        #paginator
          = paginate @companies
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
