.group
  = f.label :company_id, t("activerecord.attributes.deliver.company_id", :default => "Company"), :class => :label
  = f.collection_select :company_id, Company.where(:is_enabled=>1), :id, :name
  %span.description Ex: a simple text
.group
  = f.label :estimate_id, t("activerecord.attributes.deliver.estimate_id", :default => "Estimate"), :class => :label
  = f.collection_select :estimate_id, Estimate.all, :id, :lastname
  %span.description Ex: a simple text
.group
  = f.label :is_delivered, t("activerecord.attributes.deliver.is_delivered", :default => "Is delivered"), :class => :label
  = f.check_box :is_delivered, :class => 'check_box'
  %span.description Ex: a simple text
.group
  = f.label :feedback, t("activerecord.attributes.deliver.feedback", :default => "Feedback"), :class => :label
  = f.text_area :feedback, :class => 'text_area'
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), delivers_path, :class => "text_button_padding link_button"
