.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", delivers_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_deliver_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", deliver_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.deliver.company_id", :default => t("activerecord.labels.company_id", :default => "Company"))
          \:
        = @deliver.company_id
      %p
        %b
          = t("activerecord.attributes.deliver.estimate_id", :default => t("activerecord.labels.estimate_id", :default => "Estimate"))
          \:
        = @deliver.estimate_id
      %p
        %b
          = t("activerecord.attributes.deliver.is_delivered", :default => t("activerecord.labels.is_delivered", :default => "Is delivered"))
          \:
        = @deliver.is_delivered
      %p
        %b
          = t("activerecord.attributes.deliver.feedback", :default => t("activerecord.labels.feedback", :default => "Feedback"))
          \:
        = @deliver.feedback
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_deliver_path(@deliver), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), deliver_path(@deliver), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
