.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", zones_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_zone_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Zones
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.zone.city_id", :default => t("activerecord.labels.city_id", :default => "City_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @zones.each do |zone|
          %tr{:class => cycle("odd", "even")}
            %td
              = zone.id
            %td
              = link_to zone.city_id, zone_path(zone)
            %td
              = zone.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", zone_path(zone)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_zone_path(zone)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", zone_path(zone), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
