.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", zones_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_zone_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", zone_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.zone.city_id", :default => t("activerecord.labels.city_id", :default => "City"))
          \:
        = @zone.city.name
      %p
        %b
          = t("activerecord.attributes.zone.department_id", :default => t("activerecord.labels.department_id", :default => "Department"))
          \:
        = @zone.department.name
      %p
        %b
          = t("activerecord.attributes.zone.company_id", :default => t("activerecord.labels.company_id", :default => "Company"))
          \:
        = @zone.company.name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_zone_path(@zone), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), zone_path(@zone), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
